<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="greeting orderly">
      <h1>{{title}}</h1>
      <p>Welcome to {{title}}</p>
    </div>
    {{{body}}}
    <script type="text/javascript" src='/javascripts/main.js'>
    </script>
  </body>
</html>
